//              COMMON

//BODY COMMONS
body {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  line-height: 1.3;
}

// BUTTON COMMONS

.btn {
  height: 50px;
  width: 170px;
  border-radius: 30px;
  font-weight: 700;
  color: rgb(53, 53, 53);
  border: 4px solid rgb(53, 53, 53);
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaaaaa;
}

//              NAVIGATION BAR

.absolute {
  position: absolute;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 25px 55px;
}

// LOGO & MENU

.logo a,
.menu a {
  text-decoration: none;
  color: #414141;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
}

.menu {
  font-size: 13px;
}

//              HERO SECTION
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 900px;
  background-color: #ffefe7;
}

.heroImg {
  background: url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
  height: 900px;
}

.heroRight {
  margin: 320px 50px;
}

.heroRight h3 {
  color: rgb(196, 196, 196);
  font-size: 20px;
}

.heroRight h2 {
  color: rgb(42, 42, 42);
  font-size: 35px;
  font-weight: 300;
  padding: 5px 0 15px 0;
}

.heroRight span {
  font-weight: 600;
}

.heroRight p {
  color: #c4c4c4;
  line-height: 1.5;
}

.heroBtn {
  background-color: #ffefe7;
}

//              MAIN SECTION

// SKILLS MAIN (ROW1)

.skillsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

// COL 1
.skillsGrid .col1 {
  padding: 45px;
}

.skillsGrid .col1 h2 {
  font-size: 32px;
}

.skillsGrid .col1 h3 {
  color: rgb(245, 195, 139);
  padding-top: 30px;
}

.skillsGrid .col1 p {
  color: #a0a0a0;
  padding-top: 30px;
  line-height: 1.5;
}

// COL 2
.skillsGrid .col2 {
  background: url(../images/skills-img.jpg);
  background-position: center;
  background-size: cover;
}

// COL 3
.skillsGrid .col3 {
  padding: 45px 30px;
  background-color: #ffc956;
}

.skillsGrid .col3 h2,
.skillsGrid .col3 h3 {
  color: white;
}

.skillsGrid .col3 h2 {
  font-size: 42px;
}

.skillsGrid .col3 h3 {
  font-size: 20px;
  padding: 20px 0 15px 0;
}

// PROGRESS BAR
.flex {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-weight: 700;
}

progress[value] {
  appearance: none;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
}

progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background-color: black;
}

// SKILLS FIELD (ROW 2)

.fieldGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// COLUMNS COMMONS

.fieldGrid div {
  text-align: center;
  color: white;
  padding: 50px 30px 55px 30px;
  font-size: 36px;
}

.fieldGrid h3 {
  font-size: 25px;
  line-height: 4;
}

.fieldGrid p {
  font-size: 16px;
  line-height: 1.5;
}

// COLUMN BACKGROUNDs

.fieldGrid .col1 {
  background-color: rgb(255, 201, 86);
}
.fieldGrid .col2 {
  background-color: rgb(255, 125, 86);
}
.fieldGrid .col3 {
  background-color: #000;
}

// LAST COLUMN TEXT COLOR (ODD COLUMN)
.fieldGrid .col4 {
  color: black;
}
.fieldGrid .col4 p {
  color: #aaaaaa;
}

//      EXPERIENCE & EDUCATION

//  GRID
.expEduGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.exp {
  background-color: #ff7d56;
  font-size: 22px;
  padding: 50px 0px 20px 30px;
}
.edu {
  background-color: #ffc956;
  font-size: 22px;
  padding: 50px 0px 20px 30px;
}

.expEduGrid h2 {
  font-size: 45px;
  margin-bottom: 35px;
}
.expEduGrid h3 {
  margin-bottom: 50px;
}
.expEduGrid span {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 400;
}
.expEduGrid p, .expEduGrid h3 {
  font-size: 16px;
}
.expEduGrid p {
  margin-bottom: 35px;
  margin-left: 30px;
}

.exp-img {
  background: url(../images/experience-img.jpg);
  background-position: center;
  background-size: cover;
}

.edu-img {
  background: url(../images/education-img.jpg);
  background-position: center;
  background-size: cover;
}

//                FEEDBACK & ADDRESS SECTION

.last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #ff7d56;
}

// COMMON FOR ALL THREE COLUMNS

.last h2 {
  font-size: 32px;
}
.last p {
  padding: 30px 0px;
}

// MESSAGE COLUMN
.msg {
  padding: 40px 35px;
}
.msg-btn {
  background-color: #ff7d56;
}

// IMAGE COLUMN
.feed-img {
  background: url(../images/contact-img.jpg);
  background-position: center;
  background-size: cover;
}

// CONTACT COLUMN
.contact {
  background-color: black;
  color: rgb(153, 153, 153);
  padding: 40px 0px 180px 35px;
}
.contact h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

.contact a{
  text-decoration: none;
  color: rgb(153, 153, 153);
  line-height: 3;
}

.contact span {
  line-height: 3;
}

//                  MAP SECTION
.map {
  background-color: rgb(255, 125, 86);
  padding: 45px 225px;
}


//                  FOOTER

footer {
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
}

footer p {
  padding: 15px;
}

footer i {
  padding: 5px 18px;
  font-size: 20px;
}
