//              COMMON

//BODY COMMONS
body {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  line-height: 1.3;
}

// BUTTON COMMONS

.btn {
  height: 47px;
  width: 175px;
  border-radius: 30px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}

//              NAVIGATION BAR

.absolute {
  position: absolute;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 25px 55px;
}

// LOGO & MENU

.logo a,
.menu a {
  text-decoration: none;
  color: #414141;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
}

.menu {
  font-size: 13px;
}

//              HERO SECTION
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 900px;
}
